<% message_class = message.user == current_user ? "message-right" : "message-left" %>
<div class="<%=message_class%>" id="message-<%= message.id %>" data-user-id="<%= message.user.id%>">

  <small>
    <strong><i><%= message.user.username %></i></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %P") %></i>
  </small>
  <p><%= message.content %></p>
</div>
