
<div class="header-index-container-top">
<div class="fav-headlines">
  <h1 class="fav-headlines1">Your favorite items</h1>
</div>

<div class="header-index_results-container">

  <% @favorites.each do |favorite| %>
    <div class="card-product">

     <div class="container-part1">
        <% if favorite.offer.photos.first.key.nil? %>
          <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc" alt="" width="400" height="300">
        <% else %>
          <%= cl_image_tag favorite.offer.photos.first.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-product-infos">
          <h4><%= favorite.offer.title %></h4>
          <p><i class="fa-solid fa-location-dot"></i> <%= favorite.offer.location %></p>
          <p><i class="fa-solid fa-glasses"></i> <%= favorite.offer.condition %></p>
          <p> <i class="color-primary fa-solid fa-arrow-right"></i> <%= link_to "See More", offer_path(favorite.offer) %></p>
        </div>
      </div>
      <div class= "card-product-third">
          <div>
            <p class= "card-product-price"><% if favorite.offer.price == 0 %>
              <%= 'Free' %>
              <% else %>
              $<%=favorite.offer.price%>
              <% end %></p>
          </div>
      </div>
    </div>
  <% end  %>


</div>






</div>
