<h1>All your requests</h1>
  <div>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <div class="card-product-infos">
          <h2> <%= booking.timeslot.timeslot %> </h2>
          <div class = 'card p-3 bg-light'>
            <%= simple_form_for booking do |f| %>
              <div style="display:flex;">
              <div style="width: 49%;, margin: 0 10px; margin-left: 8px;">
                <% if booking.is_confirmed == false %>
                  <%= f.input :is_confirmed, label: "Confirm this Booking" %>
                 <div style="margin-left: 12px;">
                    <%= f.submit 'Book', class: 'btn btn-secondary' %>
                </div>
                <% else %>
                 <%= "You Confirmed the Booking"%>
                <% end %>
              </div>
              </div>
              <% end %>
          </div>

          <%# <%= simple_form_for booking do |f|%>
            <%# <%= f.input :is_confirmed, input_html: { value: "confirmed" }, as: :hidden %>
            <%# <%= f.button :submit, "Confirm", class: "btn btn-sm btn-success" %>
          <%# <% end %>
          <%# <%= simple_form_for booking do |f|%>
            <%# <%= f.input :is_confirmed, input_html: { value: "declined" }, as: :hidden %>
            <%# <%= f.button :submit, "Decline", class: "btn btn-sm btn-warning" %>
          <%# <% end %>
        </div>
      </div>
    <% end %>
  </div>
