<h1>All your requests</h1>

<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">New Requests</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Confirmed Requests</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Declined Requests</a>
  </li>
</ul>

    <div data-controller="booking_show">

      <div data-timeslotmodal-target="timeslot" id="timeslot">
        <%= f.fields_for :timeslots do |timeslots_attributes|%>
          <div class="d-none">
            <%= timeslots_attributes.input :timeslot, as: :datetime, html5: true, label: "Pick-up time" %>
          </div>
        <% end %>
      </div>
      <div id="timeslot_container"></div>
      <div class="timeslot_button">
        <button id="button" data-action="click->timeslot#modal">Want to add a Timeslot? </button>
      </div>
    </div>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <div class="card-product-infos">
          <h2> <%= booking.timeslot.timeslot %> </h2>
            <div class = 'card p-3 bg-light'>
              <div style="display:flex;">
                <div style="width: 49%;, margin: 0 10px; margin-left: 8px;">
                  <%= simple_form_for booking do |f| %>
                    <% if booking.confirmed == nil || booking.confirmed == "no"%>
                      <%= hidden_field_tag(:confirmed, 'yes')%>
                      <%= f.button :submit, "Confirm"%>
                    <% else %>
                      <%= "You Confirmed the Booking"%>
                    <% end %>
                  <% end %>
                </div>

                <div style="width: 49%;, margin: 0 10px; margin-left: 8px;">
                  <%= simple_form_for booking do |f| %>
                    <% if booking.confirmed == 'no' %>
                      <%= "You Declined the Booking"%>
                    <% else %>
                      <%= hidden_field_tag(:confirmed, 'no')%>
                      <%= f.button :submit, "Decline"%>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
