<div class="footer">
    <%= link_to "", root_path, class: "fa-regular fa-eye"%>
    <%= link_to "", root_path, class: "fa-regular fa-heart"%>
    <%= link_to "", new_offer_path, class: "fa-regular fa-circle-up"%>
    <%= link_to "", root_path, class: "fa-regular fa-envelope"%>
    <%= link_to "", profile_path, class: "fa-regular fa-user"%>
</div>
