<div data-controller="navbarmodal" class="footer">
    <%= link_to "", root_path, class: "fa-solid fa-couch"%>
    <%= link_to "", root_path, class: "fa-solid fa-heart"%>
    <p style="margin: 0;" data-action="click->navbarmodal#modal"><%= link_to "", new_offer_path, class: "fa-solid fa-plus", id: "plus"%></p>
    <%= link_to "", root_path, class: "fa-solid fa-envelope"%>
    <%= link_to "", profile_path, class: "fa-solid fa-user"%>
</div>
