
<div class="container mt-5">
  <h3>Welcome to the advance search by timeless</h3>
    <%= form_tag offers_advance_path, method: :get do %>
        <%= text_field_tag :query,
        params[:title],
        class: "form-control mb-3",
        placeholder: "Furniture"
        %>
        <%= text_field_tag :query,
        params[:condition],
        class: "form-control mb-3",
        placeholder: "Condition"
        %>
        <%= text_field_tag :query,
        params[:size],
        class: "form-control mb-3 ",
        placeholder: "Size"
        %>
        <%= text_field_tag :query,
        params[:material],
        class: "form-control mb-3",
        placeholder: "Material"
        %>

        <%= text_field_tag :query,
        params[:color],
        class: "form-control mb-3",
        placeholder: "Color"
        %>

      <%= submit_tag "Go Infinite", class: "btn btn-primary" %>
    <% end %>
</div>
