<h1>Timeless</h1>
<p>Search for Furniture</p>

<%= form_with url: "/offers", method: :get do |form| %>
<%# <%= form_tag offers_path, method: :get do %>
  <%= form.select :category, ["Sofa", "Table", "Lamp"]%>
  <%# <%= form.text_field :query %>
  <%= form.submit "Search" %>

  <%# <%= select_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find Furniture"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= link_to "See All Items", offers_path, class: "nav-link" %>
