<div class="container mb-8">
  <div class="card-profile">
    <div class="card-trip-infos">
      <div>
        <h4>Welcome home, <%= @user.fname %>.</h4>
        <div>
          <%if user_signed_in? %>
          | <%= link_to "Edit Profile", edit_user_registration_path %>
          | <%= link_to "Log out", destroy_user_session_path, method: :delete%> |
          <% else %>
          <li class="nav-item">
          <%= link_to "Login", new_user_session_path %>
          </li>
          <% end %>

      </div>
      </div>
      <% if @user.photo.attached? == false%>
        <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392" alt="" class="card-trip-user avatar-bordered">
      <% else %>
      <%= cl_image_tag @user.photo.key, crop: :fill, gravity: :face,aspect_ratio: 1, zoom: 2,class: "card-trip-user avatar-bordered" %>
      <% end %>
    </div>
  </div>

    <div class="profile-btn">
      <%= link_to "See Bookings", profile_bookings_path, class: "btn-green-profile" %>
      <%= link_to "See Matches", matches_path, class: "btn-green-profile" %>
      <% if current_user.is_admin == true %>
          <%= link_to "DB", "/blazer/queries/new",class: "btn-green-profile" %>
      <% else %>
      <% end %>
    </div>

  <div class="title">
    <h3 class="font-sans">Your published items</h3>
  </div>

  <div class="header-index_results-container">
  <% @user.offers.each do |offer| %>
    <div class="card-product">


    <div class="container-part1">
      <% if offer.photos.first.nil? %>
          <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc" alt="" width="400" height="300">
      <% else %>
      <%= cl_image_tag offer.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-product-infos">
      <h4><%= offer.title %></h4>
      <p class="color-dark"> <i class="color-dark fa-solid fa-arrow-right"></i> <%= link_to "see more", offer_path(offer) %></p>
      <p class="color-dark"> <i class="color-dark fa-solid fa-pen"></i> <%= link_to "edit offer", edit_offer_path(offer) %> </p>
      <p class="color-dark"> <i class="color-dark fa-solid fa-ban"></i> <%= link_to "delete offer",
                            offer_path(offer),
                            method: :delete,
                            data: { confirm: "Are you sure?" }%> </p>
      </div>
    </div>
  </div>
<% end  %>
</div>


  <div class="title">
    <h3 class="font-sans">Your searches</h3>
  </div>

  <div>
    <% @user.searches.each do |search| %>
        <div class="card-searches">
            <h4 class="title-searches"><%= search.title %></h4>
            <p class="color-dark"><i class="color-dark fa-solid fa-arrow-right"></i> <%= link_to "more", search_path(search)%></p>
            <p class="color-dark"><i class="color-dark fa-solid fa-pen"></i> <%= link_to "edit", edit_search_path(search)%></p>
            <p class="color-dark"><i class="color-dark fa-solid fa-ban"></i> <%= link_to "delete", search_path(search),
                            method: :delete, data: { confirm: "Are you sure?" }%></p>
        </div>
      <% end  %>
  </div>
</div>
