<div class="container">
  <div class="card-trip">
    <img src="https://images.pexels.com/photos/417023/pexels-photo-417023.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" />
    <div class="card-trip-infos">
      <div>
        <h4>Hi <%= @user.fname %>!</h4>
        <p><%= @user.email %></p>
        <%if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete%>
        <% else %>
        <li class="nav-item">
        <%= link_to "Login", new_user_session_path %>
        </li>
      <% end %>
      </div>
      <%= cl_image_tag @user.photo.key, crop: :fill, gravity: :face,aspect_ratio: 1, zoom: 2,class: "card-trip-user avatar-bordered" %>
    </div>
  </div>

  <div class="title">
    <h3>Here are your published items:</h3>
  </div>

  <div class="header-index_results-container">
  <% @user.offers.each do |offer| %>
    <div class="card-product">
      <% if offer.photos.first.key.nil? %>
      <% else %>
      <%= cl_image_tag offer.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-product-infos">
      <h4><%= offer.title %></h4>
      <p><%= link_to "See More", offer_path(offer) %></p>
      </div>
      <div class= "card-product-third">
      <div>
      </div>
    </div>
  </div>
<% end  %>
</div>


  <div class="title">
    <h3>Here are your searches:</h3>
  </div>

    <% @user.searches.each do |offer| %>
        <div class="card-product">
          <div class="card-product-infos">
            <h2>I search: <%= offer.title %></h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
            <%= link_to "See More", search_path(offer) %>
          </div>
        </div>
      <% end  %>
  </div>

</div>
