  <div class="form-background">
    <div>
      <%= simple_form_for(@search) do |f| %>

        <%= f.input :title,
            label: "Item name",
            placeholder: "e.g. table, sofa, chair" %>

        <%= f.input :price,
            label: "Price",
            placeholder: "0" %>

        <%= f.input :size,
            prompt: "Select size",
            collection: ['Small', 'Medium', 'Big'] %>

          <%= f.input :color,
            prompt: "Select a color",
            collection: ['Red', 'Blue', 'Green', 'White', 'Black', 'Gray', 'Brown', 'Yellow', 'Orange', 'Pink', 'Purple', 'Multi-colored']%>

        <%= f.input :material,
            label: "Material",
            placeholder: "e.g. textile, PU leather" %>

        <%= f.input :style,
            prompt: "Select style",
            input_html: { class: 'dropdown-form-style' },
            collection: ['Modern', 'Classic', 'Contemporary', 'Scandinavian', 'DDR', 'Minimalistics', 'Rustic']%>

        <%= f.input :condition,
            prompt: "Select condition",
            collection: ['Used - Like new', 'Used - Very good', 'Used - Good', 'Used - Acceptable'] %>

        <%= f.input :category,
            prompt: "Select category",
            collection: ['Living Room', 'Kitchen', 'Bedroom', 'Office', 'Kids room', 'Bathroom', 'Hallway', 'Outdoor'] %>

        <%= f.input :smoke_free,
            label: "Smoke-free home" %>

        <%= f.input :pet_free,
            label: "Pet-free home" %>

        <%= f.submit class: "btn-green" %>
        <%# <%= f.button :button, 'Cancel', type: :reset, class: 'btn btn-none' %>
        <%= link_to "Cancel", :back, class: "btn-white" %>
      </div>

      <% end %>
      <%# <%= link_to "Go Back", offers_path %>
    </div>

  </div>
