<div style="margin: 0 30%;">
  <%= simple_form_for(@search) do |f| %>
      <%= f.input :title %>
      <%= f.select :condition,['New', 'Used'] %>
      <%= f.select :material,['Whool', 'Leader'] %>
      <%= f.select :size,['Big', 'Small'], class:"dropdown-menu"%>
    <%= f.submit %>
  <% end %>
  <%= link_to "Go Back", offers_path %>
</div>
