<div class="container">
  <div class="card-trip">
    <div class="card-trip-infos">
      <div>
        <h2>I search for: <%= @search.title %></h2>
        <p>With this Style: <%= @search.style %></p>
        <p>With this Size: <%= @search.size %></p>
        <p>With this Condition: <%= @search.condition %></p>
        <p>With this Material: <%= @search.material %></p>
        <p>With this Category: <%= @search.category %></p>
        <p>With this Price: <%= @search.price %></p>
      </div>
    </div>
  </div>
</div>
