
<div class="header-index-container-top">

<div class="home-search">
      <%= form_with url: "/offers", method: :get do |form| %>
        <div class="searchbar">
          <%= link_to advance_path do %>
            <i class="fa-solid fa-sliders home-link"></i>
            <% end %>
          <%= form.text_field :query, placeholder: "search for furniture", class: "form-control-search" %>
          <button type="submit" class="home-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      <% end %>
    </div>

  <h3>More than <%= @offers.count %> matches in your area </h1>

</div>

<div class="header-index-container">

  <div style="width: 100%; height: 200px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div class="header-index_results-container">

  <% @offers.each do |offer| %>
    <div class="card-product">
      <% if offer.photos.first.key.nil? %>
        <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc" alt="" width="400" height="300">
      <% else %>
        <%= cl_image_tag offer.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-product-infos">
        <h4><%= offer.title %></h4>
        <p><%= offer.location %></p>
        <p><%= offer.condition %></p>
        <p><%= link_to "See More", offer_path(offer) %></p>
      </div>
      <div class= "card-product-third">
          <div>
             <% if offer.favorites.empty? %>
              <i class="fa-solid fa-heart"></i>
            <% elsif offer.favorites.where(user_id: @user, offer_id: offer.id ).first.nil? %>
              <i class="fa-solid fa-heart"></i>
            <% elsif offer.favorites.where(user_id: @user, offer_id: offer.id ).first.is_favorite? %>
              <%# <i class= "fa-regular fa-heart" data-controller="favorite" data-action="click->favorite#favorited"></i> %>
             <i class="fa-solid fa-heart" id="heartred"></i>
            <% else %>
              <%# <i class="fa-solid fa-thumbs-down"></i> %>
            <% end %>
          </div>

          <div>
            <p class= "card-product-price"><% if offer.price == 0 %>
              <%= 'Free' %>
              <% else %>
              $<%=offer.price%>
              <% end %></p>
          </div>
      </div>
    </div>
  <% end  %>


</div>

</div>
