
<div class="header-index-container-top">

<div class="index-search">
      <%= form_with url: "/offers", method: :get do |form| %>
        <div class="searchbar">
          <%= link_to advance_path do %>
            <i class="fa-solid fa-sliders home-link"></i>
            <% end %>
          <%= form.text_field :query, placeholder: "search for furniture", class: "form-control-search" %>
          <button type="submit" class="home-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      <% end %>
    </div>

  <h3 class="font-sans">More than <%= @offers.count %> matches in your area </h1>

</div>

<div class="header-index-container">

  <div class="mapbox-index" style="width: 100%; height: 200px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div class="header-index_results-container">

  <% @offers.each do |offer| %>
     <div class="card-product">
        <div class="container-part1">
              <% if offer.photos.first.nil? %>
                <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc" alt="" width="400" height="300">
              <% else %>
                <%= cl_image_tag offer.photos.first.key, height: 300, width: 400, crop: :fill %>
              <% end %>
              <div class="card-product-infos">
                <h4 class="font-sans"><%= offer.title %></h4>
                <p><i class="fa-solid fa-location-dot"></i> <%= offer.location %> </p>
                <p><i class="fa-solid fa-glasses"></i> <%= offer.condition %> </p>
                <p><i class="color-primary fa-solid fa-arrow-right"></i> <%= link_to "See More", offer_path(offer) %></p>
              </div>
        </div>
              <div class= "card-product-third">
                  <div>
                    <% if offer.favorites.nil? || offer.favorites.empty? %>
                      <%= link_to "", new_offer_favorite_path(offer_id: offer.id), class: "fa-solid fa-heart"%>
                    <% elsif offer.favorites.where(user_id: @user, offer_id: offer.id ).first.nil? %>
                      <%= link_to "", new_offer_favorite_path(offer_id: offer.id), class: "fa-solid fa-heart "%>
                    <% elsif offer.favorites.where(user_id: @user, offer_id: offer.id ).first.is_favorite? %>
                     <%= link_to "",offer_favorite_path(offer_id: offer.id, user_id: current_user, id: offer.favorites.last.id ),method: :delete,class: "fa-solid fa-heart pin-gold  " , remote: true%>
                    <% else %>
                      <%= link_to "", new_offer_favorite_path(offer_id: offer.id), class: "fa-solid fa-heart "%>
                    <% end %>
                  </div>
                  <div>
                    <p class= "card-product-price"><% if offer.price == 0 %>
                      <%= 'Free' %>
                      <% else %>
                      $<%=offer.price%>
                      <% end %></p>
                  </div>
                </div>
              </div>
            </div>
      <% end %>
</div>
