
<div class="header-index-container-top">

  <div class="search">
      <%= form_with url: "/offers", method: :get do |form| %>
        <%= form.text_field :query, placeholder: "What are you looking for?", class: "searchTerm" %>
        <%= form.submit "Go",class: "searchButton" %>
      <% end %>
  </div>

  <h3>More than <%= @offers.count %> matches in your area </h1>

</div>

<div class="header-index-container">

  <div style="width: 100%; height: 200px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div class="header-index_results-container">


  <% @offers.each do |offer| %>
    <div class="card-product">
      <% if offer.photos.first.key.nil? %>

      <% else %>
        <%= cl_image_tag offer.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-product-infos">
        <h4><%= offer.title %></h4>
        <p><%= offer.location %></p>
        <p><%= offer.condition %></p>
        <p><%= link_to "See More", offer_path(offer) %></p>
      </div>
      <div class= "card-product-third">
          <div>
            <i class= "fa-regular fa-heart" data-controller="favorite" data-action="click->favorite#favorited"></i>
          </div>

          <div>
            <p class= "card-product-price"><% if offer.price == 0 %>
              <%= 'Free' %>
              <% else %>
              $<%=offer.price%>
              <% end %></p>
          </div>
      </div>
    </div>
  <% end  %>


</div>

</div>
