<div class="container-main-offer-show">
<h1 class="text-center"><%= @offer.title %></h1>
  <div class="card-offer-show">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @offer.photos.each do |photo| %>
          <%# <% if photo.key.nil? %>
          <%# else %>
            <%= cl_image_tag photo.key, class: "swiper-slide" %>
    <!-- Add Arrows -->
        <% end %>

      </div>
        <%# <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> %>
    </div>
        <%# <% end %>

      <div class="card-profile-offer-show">
        <div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user-offer-show avatar-bordered" />
        </div>
        <div>
          <p>★★★★★ @oliviac</p>
        </div>
        <div>
          <p>10437 Berlin</p>
        </div>
        <div>
          <p>💬</p>
        </div>
      </div>

    <%= render "bookings/new" %>

    <div class="card-description-offer-show">
      <p><%= @offer.description %></p>
    </div>

    <div class="card-PCS-offer-show">
      <div>
        <p>Price: <%= @offer.price %> €</p>
      </div>
      <div>
        <p>Condition: <%= @offer.condition %></p>
      </div>
      <div>
        <p>Size: <%= @offer.size %></p>
      </div>
    </div>

  </div>
</div>
