<div class="container-main-offer-show">
<h1 class="text-center"><%= @offer.title %></h1>
  <div class="card-offer-show">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @offer.photos.each do |photo| %>
          <%# <% if photo.key.nil? %>
          <%# else %>
            <%= cl_image_tag photo.key, class: "swiper-slide" %>
    <!-- Add Arrows -->
        <% end %>

      </div>
        <%# <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> %>
    </div>
        <%# <% end %>

      <div class="card-profile-offer-show">
        <div>
          <%= cl_image_tag @user.photo.key, crop: :fill, gravity: :face,aspect_ratio: 1, zoom: 2,class: "card-trip-user avatar-bordered" %>
        </div>
        <div>
          <p>@<%=@user.username %></p>
          <p>★★★★★</p>
        </div>
        <div>
          <p><%= @offer.location %></p>
        </div>
        <div>
          <p>💬</p>
        </div>
      </div>

    <div class="card-timeslot-offer-show">
        <div>
          <%= simple_form_for [@offer, @booking] do |f| %>
          <div style="display:flex;">
            <div style="width: 49%;, margin: 0 10px; margin-left: 8px;">
              <%= f.association :timeslot, label_method: :timeslot%>
            </div>
          </div>
        </div>
    </div>

    <div class="card-send-offer-show">
      <div style="margin-left: 12px;">
        <%= f.submit 'Send request', class: 'btn btn-secondary' %>
      </div>
      <% end %>
    </div>

    <div class="card-description-offer-show">
      <p><%= @offer.description %></p>
    </div>

    <div class="card-PCS-offer-show">
      <div>
        <p>Price: <%= @offer.price %> €</p>
      </div>
      <div>
        <p>Condition: <%= @offer.condition %></p>
      </div>
      <div>
        <p>Size: <%= @offer.size %></p>
      </div>
    </div>

  </div>
</div>
