<div class="container">
  <div class="card-trip">
    <% @offer.photos.each do |photo| %>
       <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2>Title: <%= @offer.title %></h2>
        <p>Description: <%= @offer.description %></p>
      </div>

      <h2 class="card-trip-pricing"><% if @offer.price == 0 %>
      <%= "Free" %>
      <% else %>
       <%= @offer.price %>
      <% end %>


      </h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <%# <%= render "timeslots/new" %>
  <%= render "bookings/new" %>
</div>
