<div class="container-main-offer-show">

   <div class="top-navbar-offer-show">
    <button onclick="history.back()"><i class="fa-solid fa-angle-left fa-lg"></i></button>
    <h3 class="text-center"><%= @offer.title %></h1>
    <i class="fa-solid fa-arrow-up-from-bracket fa-lg upload"></i>
  </div>

  <div class="card-offer-show">
    <%# <div class="swiper-container">
      <div class="swiper-wrapper"> %>


  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <% @offer.photos.each_with_index do |photo, i| %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=<%= i%>  <% if i == 0 %>  class= "active" aria-current="active"  <% end %> aria-label="Slide <%= i%>"></button>
      <% end %>
        <%# <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> %>
    </div>
  <div class="carousel-inner">
    <% @offer.photos.each_with_index do |photo, i| %>
      <div class="carousel-item <% if i == 0%> active <% end %>">
      <%= cl_image_tag photo.key, class:"d-block w-100" %>
      </div>
    <% end %>
  </div>

      <%= link_to "", new_offer_hide_path(@offer), class: "fa-solid fa-trash-can pin pin1", data: { confirm: "Are you sure you want to hide this item?" } %>
        <% if current_user.present? %>
          <% if current_user.favorites.where(offer_id: params[:id]).empty? %>
            <%= link_to "", new_offer_favorite_path(@offer), class: "fa-solid fa-heart pin pin2"%>
          <% else %>
          <%= link_to "",
                offer_favorite_path(@offer),
                method: :delete,
                data: { confirm: "Are you sure you want to remove from favorites?" },
                class: "fa-solid fa-heart pin-red pin2" %>
          <% end %>
        <% end %>
  </button>
</div>

      </div>
        <%# <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> %>
    </div>
        <%# <% end %>
<div>
    <div class="card-profile-offer-show textdecoration">
      <%= link_to profile_user_path(@user) do %>
        <div class="card-profile-part">
          <% if @user.photo.attached? == false %>
            <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392" alt="" class="card-trip-user avatar-bordered-show" style="height:50px; width: 50px;" >
          <% else %>
            <%= cl_image_tag @user.photo.key,
                crop: :fill,
                gravity: :face,
                aspect_ratio: 1,
                zoom: 2,
                class: "card-trip-user avatar-bordered-show" %>
          <% end %>
            <div>
              <p class="color-fix margin-fix">@<%= @user.username %>  ★★★★★ </p>
              <p class="color-fix margin-fix"><%= @offer.location %></p>
            </div>
          </div>
      <% end %>
            <div class="button-envelope">
            <%= render "chatrooms/new" %>
              <%# <i class="color-gray fa-solid fa-envelope fa-lg"></i> %>
            </div>
          </div>
    </div>

    <div class="timeslot_and_request_buttons">
        <div class="width">
          <%= simple_form_for [@offer, @booking] do |f| %>
          <div>
            <div class="card-timeslot-offer-show">
              <%= f.association :timeslot,
                  collection: Timeslot.where(offer_id: params[:id]).where.not(timeslot: nil),
                  class: "label-timeslot fa-solid fa-chevron-right",
                  prompt:"Select pick-up time",
                  label: false,
                  label_method: lambda { |item| item.timeslot.strftime("%-d.%-m.%y %H:%M") },
                  classs: "dropdown-timeslot-show-scr" %>
            </div >
          </div>
        </div>

    <div class="card-send-offer-show">
      <div class="button-send">
        <%= f.submit 'Send request', class: 'btn-request-green' %>
      </div>
      <% end %>
    </div>
  </div>

    <div class="card-description-offer-show">
      <p><%= @offer.description %></p>
    </div>

 <div class="card-PCS-offer-show">
      <div>
        <p><span class="underline-show"> Pick-up Location: </span>
          <span class="info-from-owner"> <%= @offer.location %> </span>
        </p>
      </div>

      <div>
        <p><span class="underline-show"> Price: </span>
          <span class="info-from-owner"> €<%= @offer.price %> </span>
        </p>
      </div>

      <div>
        <p><span class="underline-show"> Size: </span>
          <% if @offer.size.present? %>
            <span class="info-from-owner"> <%= @offer.size %> </span>
          <% else %>
            <span class="info-from-owner-missing"> N/A. Message owner for details. </span>
          <% end %>
        </p>
      </div>

      <div>
        <p><span class="underline-show">Color:</span>
          <% if  @offer.color.present? %>
            <span class="info-from-owner"> <%= @offer.color %> </span>
          <% else %>
            <span class="info-from-owner-missing"> N/A. Message owner for details.</span>
          <% end %>
        </p>
      </div>

      <div>
        <p><span class="underline-show">Material:</span>
          <% if  @offer.material.present? %>
            <span class="info-from-owner"> <%= @offer.material %> </span>
          <% else %>
            <span class="info-from-owner-missing"> N/A. Message owner for details.</span>
          <% end %>
        </p>
      </div>

      <div>
        <p><span class="underline-show">Style:</span>
          <% if  @offer.style.present? %>
            <span class="info-from-owner"> <%= @offer.style %> </span>
          <% else %>
            <span class="info-from-owner-missing"> N/A. Message owner for details.</span>
          <% end %>
        </p>
      </div>
      <div>
        <p><span class="underline-show">Condition:</span>
          <% if  @offer.condition.present? %>
            <span class="info-from-owner"> <%= @offer.condition %> </span>
          <% else %>
            <span class="info-from-owner-missing"> N/A. Message owner for details.</span>
          <% end %>
        </p>
      </div>

      <div>
        <p><span class="underline-show">Category:</span>
          <% if  @offer.category.present? %>
            <span class="info-from-owner"> <%= @offer.category %> </span>
          <% else %>
            <span class="info-from-owner-missing"> N/A. Message owner for details.</span>
          <% end %>
        </p>

      </div>

      <div class="checked-group-show-offer">
        <p>
          <% if  @offer.smoke_free == true %>
            <i class="fas fa-check-square checked"></i>
          <% else %>
            <i class="fas fa-times-square unchecked"></i>
          <% end %>
          <span class="underline-show">Smoke-free home</span>
        </p>

      </div>

      <div>
        <p>
          <% if  @offer.pet_free == true %>
            <i class="fas fa-check-square checked"></i>
          <% else %>
            <i class="fas fa-times-square unchecked"></i>
          <% end %>
          <span class="underline-show">Pet-free home</span>
        </p>
      </div>

      <div>
        <p>
          <% if  @offer.receipt == true %>
            <i class="fas fa-check-square checked"></i>
          <% else %>
            <i class="fas fa-times-square unchecked"></i>
          <% end %>
          <span class="underline-show">Purchase receipt</span>
        </p>
      </div>

    </div>


    <div class="show-actions">



    </div>
  </div>
</div>
