<div class="container-main-offer-show">
<div class="container-header-show">
  <i><%= link_to '', url_for(:back), class: "color-dark fa-solid fa-angle-left fa-lg" %></i>
  <h1 class="text-center"><%= @offer.title %></h1>
  <i class="fa-solid fa-arrow-up-from-bracket fa-lg"></i>
</div>


  <div class="card-offer-show">
    <%# <div class="swiper-container">
      <div class="swiper-wrapper"> %>


  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <% @offer.photos.each_with_index do |photo, i| %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=<%= i%>  <% if i == 0 %>  class= "active" aria-current="active"  <% end %> aria-label="Slide <%= i%>"></button>
      <% end %>
        <%# <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> %>
    </div>
  <div class="carousel-inner">
    <% @offer.photos.each_with_index do |photo, i| %>
      <div class="carousel-item <% if i == 0%> active <% end %>">
      <%= cl_image_tag photo.key, class:"d-block w-100" %>
      </div>
    <% end %>
  </div>

        <%= link_to "", new_offer_hide_path(@offer), class: "fa-solid fa-trash-can pin pin1", data: { confirm: "Are you sure you want to hide this item?" } %>

          <% if @offer.favorites.empty? %>
          <%= link_to "", new_offer_favorite_path(@offer), class: "fa-solid fa-heart pin pin2"%>
          <% else %>
          <%= link_to "",
                offer_favorite_path(@offer),
                method: :delete,
                data: { confirm: "Are you sure you want to remove from favorites?" },
                class: "fa-solid fa-heart pin-red pin2" %>
          <% end %>
  </button>
</div>

      </div>
        <%# <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> %>
    </div>
        <%# <% end %>
<div>
    <div class="card-profile-offer-show textdecoration">
      <%= link_to profile_user_path(@user) do %>
        <div class="card-profile-part">
          <% if @user.photo.attached? == false %>
            <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392" alt="" class="card-trip-user avatar-bordered-show" style="height:50px; width: 50px;" >
          <% else %>
            <%= cl_image_tag @user.photo.key,
                crop: :fill,
                gravity: :face,
                aspect_ratio: 1,
                zoom: 2,
                class: "card-trip-user avatar-bordered-show" %>
          <% end %>
            <div>
              <p class="color-fix margin-fix">@<%= @user.username %>  ★★★★★ </p>
              <p class="color-fix margin-fix"><%= @offer.location %></p>
            </div>
          </div>
      <% end %>
            <div class="button-envelope">
            <%= render "chatrooms/new" %>
              <%# <i class="color-gray fa-solid fa-envelope fa-lg"></i> %>
            </div>
          </div>
    </div>

    <div class="timeslot_and_request_buttons">
        <div class="width">
          <%= simple_form_for [@offer, @booking] do |f| %>
          <div>
            <div class="card-timeslot-offer-show">
              <%= f.association :timeslot,
                  collection: Timeslot.where(offer_id: params[:id]).where.not(timeslot: nil),
                  class: "label-timeslot fa-solid fa-chevron-right",
                  prompt:"Select pick-up time",
                  label: false,
                  label_method: lambda { |item| item.timeslot.strftime("%-d.%-m.%y %H:%M") },
                  classs: "dropdown-timeslot-show-scr" %>
            </div >
          </div>
        </div>

    <div class="card-send-offer-show">
      <div>
        <%= f.submit 'Send request', class: 'btn-request-green' %>
      </div>
      <% end %>
    </div>
  </div>

    <div class="card-description-offer-show">
      <p><%= @offer.description %></p>
    </div>

    <div class="card-PCS-offer-show">
      <div>
        <p>Price: <%= @offer.price %> €</p>
      </div>
      <div>
        <p>Condition: <%= @offer.condition %></p>
      </div>
      <div>
        <p>Size: <%= @offer.size %></p>
      </div>
    </div>

    <div class="show-actions">







    </div>
  </div>
</div>
